<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-3">
    <h3><%= listing.title %></h3>
  </div>

  <div class="card col-6 offset-3 show-card">
    <img
      src="<%= listing.image %>"
      class="card-img-top show-img"
      alt="Listing_image"
    />
    <div class="card-body">
      <p class="card-text">
        <br />
        <%= listing.description %> <br />
        <li>&#8377;<%= listing.price.toLocaleString("en-IN") %></li>
        <br />
        <li><%= listing.location %></li>
        <br />
        <li><%= listing.country %></li>
      </p>
    </div>
  </div>

  <br />

  <div class="btns">
    <a
      href="/listings/<%= listing._id %>/edit"
      class="btn btn-dark col-1 offset-3 edit-btn"
      >Edit
    </a>

    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
      <button class="btn btn-dark offset-5">Delete</button>
    </form>
  </div>
  <hr class="mt-2" />
  <div class="col-8 offset-3 mb-3">
    <h4>Leave a Review</h4>
    <form
      action="/listings/<%= listing.id %>/reviews"
      method="post"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3 mt-3">
        <label for="rating" class="form-lable">Rating</label>
        <input
          type="range"
          min="1"
          max="5"
          id="rating"
          name="review[rating]"
          class="form-range"
        />
      </div>
      <div class="mb-3 mt-3">
        <label class="form-lable" for="comment">Comments</label>
        <textarea
          name="review[comment]"
          id="comment"
          cols="30"
          rows="5"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">please add some comments for reviews</div>
        <button class="btn btn-outline-dark">Submit</button>
      </div>
    </form>

    <hr />
    <h4>All reviews</h4>
    <p><%= listing.reviews %></p>
  </div>
</div>
